body {
  width: 1024px;
  font-family: 'Varela Round', sans-serif;
  margin: 0 auto;
  font-size: 20px;
  
}
h2 {
  font-weight: bold;
  font-size: 1.15em;
  width: 90%;
  margin: 0 auto;
}
h3 {
  float:right;
  margin-top:-40px;
}
.date-label {
  font-weight:bold;
  display:inline-block;
}
.shadowed {
  box-shadow: 0 0 10px 1px #000;  
}
#intro {
  color:#666;
  background-color: rgb(0, 0, 0, 0.2);
  display: inline-block;
  padding: 30px;
}
#blurb {
  box-sizing: border-box;
  text-align: left;
  width: 50%;
  font-style: italic;
  
}
img {
  margin: 20px;
  width: 50%;
  float: right;
  margin-bottom:100px;
}